/* the star selects all elements */
*{
	box-sizing: border-box; 
}

body{
	font-family: 'PT Sans';

	color: #b5b5b5;
	background-image: url('assets/pinkTreesPortraitCrop.jpg');
}

h1, h2{
	text-align: center;
	font-family: 'PT Sans';
}

h3{
	text-align: center;
	font-size:17px;
}

#wrapper{
	display: block; /* see documentation for "display" !*/
	margin-left: auto; /* centers the element */
	margin-right: auto; /* centers the element */
	width:70%;
}

#itchframe{
	text-align: center;
	margin-left: auto; /* centers the element */
	margin-right: auto; /* centers the element */
}

#quoted{
	width: 90%;
	border-style:solid;
	border-width: 5px;
	border-top:#f1f1f1;
	border-bottom: #f1f1f1;
	padding: 2%;
	display: block; /* see documentation for "display" !*/
	margin-left: auto; /* centers the element */
	margin-right: auto; /* centers the element */
}

img{
	width:100%; /*takes up 100% of the wrapper*/
}

p{
	font-size: large;
	font-family: 'PT Sans';
}

a{
	text-decoration: none;
	color: #b5b5b5;

	font-family: 'PT Sans';
	font-size: large;
}

#page-container {
	position: relative;
	min-height: 100vh;
  }
  
  #content-wrap {
	padding-bottom: 2.5rem;    /* Footer height */
  }

#boldpara{
	font-weight:bold; 
}

/*STYLING THE NAVIGATION BAR*/
nav{
	width: 100%;
	text-align: center;
	color: #d2d2d2;
	font-family: 'PT Sans';
	margin-left: auto;
	margin-right: auto;
	display: block;
}
/* Style the header */
.header {
	padding: 10px 16px;
	z-index:100;
	font-size: large;
}

/* Page content */
.content {
	padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
	position:sticky;
	top: 0;
	width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
	padding-top: 102px;
}

iframe {
	text-align: center;
	margin-left: auto; /* centers the element */
	margin-right: auto; /* centers the element */
}

/* for the slideshow */
.slides {
	width: 100%;
	height: auto;
	position: relative;
}

.slides img {
	width: 70%;
	height: auto;
	margin-left: auto; /* centers the element */
	margin-right: auto; /* centers the element */
}

.slides img:first-child {
	z-index: 1;
}

.slides img:nth-child(2) {
	z-index: 0;
}

.navigation-button {
	text-align: center;
	position: relative;
	padding: 1%;
	font-size:large;
  }
  .active,
  .dot:hover {
	background-color: #c7c7c7;
  }

  div.gallery {
	margin: 5px;
	float: left;
	width: 30%;
  }
  
  div.gallery:hover {
	border: 3px solid #f1f1f1;
  }
  
  div.gallery img {
	width: 100%;
  }

  div.rightGal {
	margin: 5px;
	float: right;
	width: 35%;
  }

  
  div.rightGal:hover {
	border: 3px solid #f1f1f1;
  }
  
  div.rightGal img {
	width: 100%;
  }

#footer {
	position: fixed;
	bottom: 0;
	width: 99%;
	height: 4%;   /* Height of the footer */
	background: #cd20ad;
	color:#f1f1f1;
	text-align: center;
	font-family: 'PT Sans';
	font-size: larger;
}

div.scroll-container {
	overflow: auto;
	white-space: nowrap;
	scrollbar-color:  #cd20ad;
}
  
div.title {
	width: 50%;
	margin:auto;
}

div.tags{
	width: 40%;
	margin:auto;
}

.column {
	margin:auto;
	float: left;
	width: 33.33%;
	padding: 3%;
  }
  
  /* Clear floats after image containers */
  .row::after {
	content: "";
	clear: both;
	display: table;
	background-color:rgba(89, 11, 108, 0.677);
  }

div.grid{
	margin:auto;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: 13%;
	margin-left:20px;
  }

  .background {
	display: block;
  }

div.logos{
	width:20%; 
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	left:42%
}

@media only screen and (max-width: 600px) {
	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		margin-top: 28%;
		margin-left:20px;
	  }

	  div.logos{
		width:60%; 
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		left:20%;
	}

	div.title {
		width: 99%;
		margin:auto;
	}

	div.tags{
		width: 99%;
		height:120%;
		margin:auto;
	}
	
	div.grid{
		margin:auto;
		display: table;
	}
	
	.column {
		margin:auto;
		width: 80%;
	}
	  
	  /* Clear floats after image containers */
	  .row::after {
		content: "";
		clear: both;
		display: table;
		background-color:rgba(89, 11, 108, 0.677);
	  }
	
	  .background{
		height: 2760px;
	  }

}