/* the star selects all elements */
*{
	box-sizing: border-box; 
}

body{
	font-family: 'PT Sans';
	color: #f1f1f1;
	background-color: #cd20ad;
	background-image: url('assets/pinkTreesPortraitCrop.jpg');
	background-repeat:repeat-x;
	background-size: cover;
}

h1, h2{
	text-align: center;
	font-family: 'PT Sans';
	text-shadow: 2px 3px 4px #f1f1f1; 
	font-size: 250%;
}

h3{
	font-size:17px;
	display: block;
	width: 100%;
}

#wrapper{
	display: block; /* see documentation for "display" !*/
	margin-left: auto; /* centers the element */
	margin-right: auto; /* centers the element */
	width:70%;
}

#itchframe{
	text-align: center;
	margin-left: auto; /* centers the element */
	margin-right: auto; /* centers the element */
}

#quoted{
	width: 98%;
	border-style:solid;
	border-width: 2px;
	border-top:#f1f1f1;
	border-bottom: #f1f1f1;
	padding: 1%;
	display: block; /* see documentation for "display" !*/
	margin-left: auto; /* centers the element */
	margin-right: auto; /* centers the element */
}

img{
	width:100%; /*takes up 100% of the wrapper*/
}

p{
	font-size: large;
	font-family: 'PT Sans';
	color: #e2dcdc;
	font-family: PT Sans;

}

a{
	text-decoration: none;
	color: #b5b5b5;

	font-family: 'PT Sans';
	font-size: large;
}

#page-container {
	position: relative;
	min-height: 100vh;
  }
  
  #content-wrap {
	padding-bottom: 2.5rem;    /* Footer height */
  }

#boldpara{
	font-weight:bold; 
}

#fronttext{
	width:70%;
}

.card {
    width: 400px;
    height: 270px;
    background-size: cover;
    border-radius: 30px;
    cursor: grab;
    position: absolute;
    cursor: url("assets/claw.png"), pointer;
}

/*STYLING THE NAVIGATION BAR*/
nav{
	width: 100%;
	text-align: center;
	color: #d2d2d2;
	font-family: 'PT Sans';
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-left: 2px;
}
/* Style the header */
.header {
	padding: 10px 16px;
	z-index:100;
	font-size: large;
}

/* Page content */
.content {
	padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
	position:sticky;
	top: 0;
	width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
	padding-top: 102px;
}

iframe {
	text-align: center;
	margin-left: auto; /* centers the element */
	margin-right: auto; /* centers the element */
}

/* for the slideshow */
.slides {
	width: 100%;
	height: auto;
	position: relative;
}

.slides img {
	width: 70%;
	height: 400px;
	margin-left: auto; /* centers the element */
	margin-right: auto; /* centers the element */
}

.slides img:first-child {
	z-index: 1;
}

.slides img:nth-child(2) {
	z-index: 0;
}

.navigation-button {
	text-align: center;
	position: relative;
	padding: 1%;
	font-size:large;
	size: 5%;
  }
  .active,
  .dot:hover {
	background-color: #e6257f;
  }

.prev{
	background: none;
	color:#b5b5b5;
	width: 5%;
	padding: 5px;
}
.prev:hover{
	background-color: #cd20ad;
	border:none;
}

.next{
	background: none;
	width: 5%;
	color:#b5b5b5;
	padding: 5px;
}
.next:hover{
	background-color: #cd20ad;
	border:none;
}


  div.gallery {
	margin: 5px;
	float: left;
	width: 30%;
  }
  
  div.gallery:hover {
	border: 3px solid #f1f1f1;
  }
  
  div.gallery img {
	width: 100%;
  }



  div.rightGal {
	margin: 5px;
	float: right;
	width: 35%;
  }

  .relative{
	width:100%;
  }

  div.rightGal:hover {
	border: 3px solid #f1f1f1;
  }
  
  div.rightGal img {
	width: 100%;
  }

#footer {
	position: fixed;
	bottom: 0;
	width: 99%;
	height: 4%;   /* Height of the footer */
	background: #cd20ad;
	color:#f1f1f1;
	text-align: center;
	font-family: 'PT Sans';
	font-size: larger;
	z-index: 100;
}

div.scroll-container {
	overflow: auto;
	white-space: nowrap;
	scrollbar-color:  #cd20ad;
}
  
div.title {
	width: 50%;
	margin:auto;
	font-family: Rubik Scribble;
}

div.tags{
	width: 40%;
	margin:auto;
}

.column {
	margin:auto;
	float: left;
	width: 33.33%;
	padding: 3%;
  }

  .column2 {
	margin:auto;
	float: left;
	width: 50%;
	padding: 3%;
  }
  
  /* Clear floats after image containers */
  .row::after {
	content: "";
	clear: both;
	display: table;
	background-color:rgba(89, 11, 108, 0.677);
  }

div.grid{
	margin-left:auto;
	margin-right:auto;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

div.grid2{
	margin-left:auto;
	margin-right:auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		text-align: center;
		margin-top: 15%;
		margin-left:20%;
		margin-right:20%;	
		width: 60%;
	}

  .background {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	filter: blur(3px); 
	backdrop-filter: blur(1px); 
	margin:auto; 
	height:450px; 
	text-align:center;
  }

div.logos{
	width:20%; 
	margin-left: auto;
	display: flex;
}

div.zines{
	border: 0px; 
	width:100%; 
	height: 700px;
	margin:auto;
	display:block;
}

#coverwidget{
	background-color: #cd20ad;
	width: 25%;
	height: 5%;
	display: block;
	margin-left: auto;
	border-radius: 5%;
	text-align: center;
	top: 0px;
	z-index: 90;
	line-height: 0.1;
	position:fixed;
}
#tumblr{
	width:50%;
	 display: block; 
	 margin: auto; color:
	rgba(0,0,0,0);
	z-index: 10;
}

@media only screen and (max-width: 600px) {
	.overlay {
		position: block;
		top: 0;
		bottom: 0;
		margin-top: 36%;
		margin-left: auto;
		margin-right: auto;
		width: 97%;
	  }

	#youtube{
		height: 30vh;
	}

	#tumblr{
		width: 100%;
	}

	.background{
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	#fronttext{
		width:90%
	}

	#wrapper{
		width:100%;
	}

	div.logos{
		width:40%; 
		position: block;
		margin-left: auto;
		margin-right: auto;
		left:20%;
	}

	div.title {
		width: 99%;
		margin:auto;
	}

	div.tags{
		width: 99%;
		height:120%;
		margin:auto;
	}
	
	div.grid{
		display:block;
		width:80%;
		margin:auto;
		column-count: 1;
	}
	
	.column {
		margin-left:auto;
		margin-right:auto;
		width: 100%;
		display: block;
	}

	.column2 {
		margin-left:auto;
		margin-right:auto;
		width: 100%;
		display:flexbox;
	}
	  
	  /* Clear floats after image containers */
	  .row::after {
		content: "";
		clear: both;
		display: table;
		background-color:rgba(89, 11, 108, 0.677);
	  }

	  iframe {
		text-align: center;
		margin-left: auto; /* centers the element */
		margin-right: auto; /* centers the element */
		width: 100%;
	}

	.relative{
		width: 100%;
  	}

	.slides img {
		width: 90%;
		height: 250px;
		margin-left: auto; /* centers the element */
		margin-right: auto; /* centers the element */
	}

	.prev{
		width: 40%;
		padding: 5%;
	}

	.next{
		width: 40%;
		padding: 5%;
	}

	.card {
    width: 0px;
    height: 0px;
  }
}