/* the star selects all elements */
*{
	box-sizing: border-box; /* see documentation for box-sizing!!*/
}

body{
	background-color: #f1f1f1;
    font-family:sans-serif;
	padding-bottom: 200px; /*adds space to the bottom of the page*/
	color: #525252;
}

h1, h2{
	text-align: center;
	font-family: serif;
	text-decoration: underline;
}

h3{
	text-align: center;
	font-size:17px;
}

#wrapper{
	display: block; /* see documentation for "display" !*/
	margin-left: auto; /* centers the element */
	margin-right: auto; /* centers the element */
	width:70%;
	padding:10px;
}

#itchframe{
	text-align: center;
	margin-left: auto; /* centers the element */
	margin-right: auto; /* centers the element */
}

#quoted{
	width: 90%;
	border-style:solid;
	border-width: 5px;
	border-top:#f1f1f1;
	border-bottom: #f1f1f1;
	padding: 2%;
	display: block; /* see documentation for "display" !*/
	margin-left: auto; /* centers the element */
	margin-right: auto; /* centers the element */
}

img{
	width:100%; /*takes up 100% of the wrapper*/
}

p{
	text-align: inherit;
	font-size: large;
	font-family:'Times New Roman', Times, serif;
}

a{
	text-decoration: none;
	color: #525252;
	font-weight: bold;
	font-family:'Times New Roman', Times, serif;
	font-size: large;

}
#page-container {
	position: relative;
	min-height: 100vh;
  }
  
  #content-wrap {
	padding-bottom: 2.5rem;    /* Footer height */
  }
  


#boldpara{
	font-weight:bold; 
}

/*STYLING THE NAVIGATION BAR*/
nav{
	width: 100%;
	text-align: center;
}
/* Style the header */
.header {
	padding: 10px 16px;
	background: #f1f1f1;
	z-index:100;
	font-size: large;
}

/* Page content */
.content {
	padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
	position:sticky;
	top: 0;
	width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
	padding-top: 102px;
}

iframe {
	text-align: center;
	margin-left: auto; /* centers the element */
	margin-right: auto; /* centers the element */
}

/* for the slideshow */
.slides {
	width: 100%;
	height: auto;
	position: relative;
}

.slides img {
	width: 70%;
	height: auto;
	margin-left: auto; /* centers the element */
	margin-right: auto; /* centers the element */
}

.slides img:first-child {
	z-index: 1;
}

.slides img:nth-child(2) {
	z-index: 0;
}
.slides img:hover {
	border: 3px solid #f1f1f1;
  }

.navigation-button {
	text-align: center;
	position: relative;
	padding: 1%;
	font-size:large;
  }
  .active,
  .dot:hover {
	background-color: #303030;
  }

  div.gallery {
	margin: 5px;
	float: left;
	width: 30%;
  }
  
  div.gallery:hover {
	border: 3px solid #f1f1f1;
  }
  
  div.gallery img {
	width: 100%;
  }

  div.rightGal {
	margin: 5px;
	float: right;
	width: 35%;
  }
  
  div.rightGal:hover {
	border: 3px solid #f1f1f1;
  }
  
  div.rightGal img {
	width: 100%;
  }

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 4%;   /* Height of the footer */
	background: #303030;
	color:#f1f1f1;
	text-align: center;
	font-family:'Times New Roman', Times, serif;
	font-size: larger;
	border: 3px solid #303030;
}
